@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/*global styles*/


#wrapper {
	width: 100%;
	max-width:1280px;
	margin:0 auto;
}



/*-----HEADER-----*/
img {
	max-width:100%; 
	height: auto;
}
header {
	margin-bottom:28px;
}
#topnav {
	padding-top: 8px;
}

/*List Rules*/
ul {
	list-style-type: none;
    margin: 0;
  	padding: 0;
}
ul li {
	display:inline-block;
	margin-bottom:10px;
}
a {
	font-family:roboto; 	
}
a:link {
	text-decoration:none; 
	color:black;
}
a:visited {
	text-decoration:none; 
	color:black;
}
a:hover {
	text-decoration:none; 
	color:#F8F8F8;
}
a:active {
	text-decoration:none; 
	color:#9F7767;
}
#topnav1 a,
nav a,
footer a {
	padding: 10px;
}
#topnav1 a:hover,
nav a:hover,
footer a:hover {
	padding: 10px;
	background-color:#9F7767;
}
ul#topnav1 {
	float: right;
}
#logo {
	width:25%; 
	float:left;
}
nav {
	margin-top:20px; 
	text-align: center;
}
nav ul li {
		display:inline-block;
	}
/*-----HEADER END-----*/



/*-----CONTENT-----*/
#content {
	font-family:roboto, cambria, sans serif;
}

/*Home Page*/
#contentpic1 {
	display: block; 
	margin: 0 auto;
}

/*About Page*/
#aboutpic {
	float:left;
	width:90%;
	margin-left:5%;
	margin-right:5%
}
#abouttext {
	float:right;
	text-align:left;
	width:90%;
	margin-left:5%;
	margin-right:5%;
	font-size:18px;
}

/*Contact Page*/
#title {
	text-align:center;
	font-size:20px;
	
}
#contactinfo {
	float:none;
	text-align:center;
	width:90%;
	margin-left:5%;
	margin-right:5%;
	font-size:18px;
}
#contactform {
	float:none; 
	text-align:center; 
	width:90%; 
	margin-left:5%;
	margin-right:5%;
	font-size:18px;
}

/*FAQ*/
#faqphoto1{
	float:left;
	width:49%;
	margin-right:1%;
}
#faqphoto2{
	float:right;
	width:49%;
	margin-left:1%;
}
#faqtext {
	float:left; 
	width:90%; 
	margin-left:5%;
	margin-right:5%;
	text-align:left;
	font-size:18px;
}

/*Terms and Conditions*/
#tandctext {
	width:74.609375%; 
	margin:auto; 
	text-align:left;
}

/*Category Page*/
.product {
	float:left; 
	padding: 1%; 
	width:48%;
}
section {
	width:92%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}

/*Product Page*/
#productpic {
	float:none; 
	width:90%;
	margin:auto;
	text-align:center;
}
#producttext {
	float:none;
	margin:auto; 
	text-align:left; 
	width:90%;
}
/*------CONTENT END-----*/




/*-----FOOTER-----*/
footer {
	height:104px;
	text-align: center;
}
#footernav {
		margin-top: 28px; 
		margin-bottom:38px; 
	}
#footernav ul li {
		display:inline-block;
		margin: 0;
	}
/*-----FOOTER END-----*/





/*-----MEDIA QUERIES-----*/
@media (min-width: 768px) {
#wrapper {
	width:90%;
	max-width:1280px;
}
	
/*HEADER*/
#logo {
	width:26.875%;
	margin-left:auto;
	margin-right:auto;
	float:none;
}
ul li {
	display:inline-block;
	margin: 0 10px;
}
#topnav {
	height: 54px; 
	padding-top: 8px;
}
/*HEADER END*/

	
	
/*CONTENT*/
/*about page*/
#abouttext {
	float:right;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	font-size:18px;
}
#aboutpic {
	float:left;
	width:48%;
	margin-left:auto;
	margin-right:2%;
}
	
/*Contact Page*/
#contactinfo {
	float:left;
	text-align:center;
	width:48%;
	margin-left:auto;
	margin-right:2%;
	font-size:18px;
}
#contactform {
	float:right; 
	text-align:center; 
	width:50%; 
	margin-left:auto;
	margin-right:auto;
	font-size:18px;
}

	/*Contact Form*/ 

p {
	margin-bottom: 15px;
}

/*#page-wrap {
	width: 48%;
	padding: 20px 50px 20px 50px;
	margin-left:auto;
	margin-right:auto;
	height: auto !important;*/
}
	
#contact-area {
	width: 48%px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}
	
/*FAQ*/
#faqphoto1{
	float:left;
	width:22.828125%;
	margin-right:1%;
	margin-left:0%;
	padding-bottom:1%;
	text-align:center;
}
#faqphoto2{
	float:left;
	width:22.828125%;
	margin-right:1%;
	margin-left:0%;
	text-align:center;
}
#faqtext {
	float:right; 
	width:71.53125%; 
	margin-left:3%;
	margin-right:0%;
	text-align:left;
}
	
/*Category Page*/
.product {
	float:left; 
	padding:1%; 
	width:23%;
}
	
/*Product Page*/
#productpic {
	float:left; 
	width:23.828125%; 
	text-align:center;
}
#producttext {float:left;
	margin-left:3.90625%; 
	text-align:left; 
	width:47.1875%;
}
/*CONTENT END*/
	
}
/*-----MEDIA QUERIES END-----*/
